################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lomapp/.vs
/lomapp/obj
/lomapp/bin
/lomapp/.vs
/lomapp/obj/*
/lomapp/obj/lomapp.csproj.nuget.g.props
/lomapp/obj/lomapp.csproj.nuget.g.targets
/lomapp/obj/project.assets.json
/lomapp/obj/project.nuget.cache
/bulk-import-demo
/parser/__azurite_db_blob_extent__.json
/parser/__azurite_db_blob__.json
/parser/__azurite_db_queue_extent__.json
/parser/__azurite_db_queue__.json
/parser/__azurite_db_table__.json
