################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lomapp/.vs
/lomapp/obj
/lomapp/bin
/lomapp/.vs
/lomapp/obj/*
/lomapp/obj/lomapp.csproj.nuget.g.props
/lomapp/obj/lomapp.csproj.nuget.g.targets
/lomapp/obj/project.assets.json
/lomapp/obj/project.nuget.cache
