@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>

<div class="text-center">
    <h2>Upload File</h2>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFile">
    <input type="file" name="model" />
    <input type="submit" value="Upload" />
</form>

<div>@ViewData["UploadResult"]</div>