@{
    ViewData["Title"] = "Upload Page";
}

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>

<div class="text-center">
    <h2>Upload File</h2>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFile">
    <input type="file" name="model" id="fileInput" required />
    <label for="fileInput">File</label><br>
    <input type="text" name="social" placeholder="65160684M007" id="socialId" required />
    <label for="socialId">Social</label><br>
    <input type="submit" value="Upload" />
</form>


<div class="text-center">
    <h2>Upload File To Share</h2>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFileToShare">
    <input type="file" name="model" />
    <input type="submit" value="Upload" />
</form>


<div class="text-center">
    <h2>Get Item from Cosmos</h2>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetContent">
    <input type="text" name="social" placeholder="65160684M007" id="socialId" required />
    <label for="socialId">Social</label><br>
    <input type="submit" value="Retrieve" />
</form>

<div class="text-center">
    <h2>Result:</h2>
</div>

<div>@ViewData["UploadResult"]</div>